.env
node_modules/.package-lock.json
node_modules/axios/CHANGELOG.md
node_modules/axios/index.d.ts
node_modules/axios/index.js
node_modules/axios/LICENSE
node_modules/axios/package.json
node_modules/axios/README.md
node_modules/axios/SECURITY.md
node_modules/axios/tsconfig.json
node_modules/axios/tslint.json
node_modules/axios/UPGRADE_GUIDE.md
node_modules/axios/dist/axios.js
node_modules/axios/dist/axios.map
node_modules/axios/dist/axios.min.js
node_modules/axios/dist/axios.min.map
node_modules/axios/lib/axios.js
node_modules/axios/lib/utils.js
node_modules/axios/lib/adapters/http.js
node_modules/axios/lib/adapters/README.md
node_modules/axios/lib/adapters/xhr.js
node_modules/axios/lib/cancel/Cancel.js
node_modules/axios/lib/cancel/CancelToken.js
node_modules/axios/lib/cancel/isCancel.js
node_modules/axios/lib/core/Axios.js
node_modules/axios/lib/core/buildFullPath.js
node_modules/axios/lib/core/createError.js
node_modules/axios/lib/core/dispatchRequest.js
node_modules/axios/lib/core/enhanceError.js
node_modules/axios/lib/core/InterceptorManager.js
node_modules/axios/lib/core/mergeConfig.js
node_modules/axios/lib/core/README.md
node_modules/axios/lib/core/settle.js
node_modules/axios/lib/core/transformData.js
node_modules/axios/lib/defaults/index.js
node_modules/axios/lib/defaults/transitional.js
node_modules/axios/lib/env/data.js
node_modules/axios/lib/env/README.md
node_modules/axios/lib/helpers/bind.js
node_modules/axios/lib/helpers/buildURL.js
node_modules/axios/lib/helpers/combineURLs.js
node_modules/axios/lib/helpers/cookies.js
node_modules/axios/lib/helpers/deprecatedMethod.js
node_modules/axios/lib/helpers/isAbsoluteURL.js
node_modules/axios/lib/helpers/isAxiosError.js
node_modules/axios/lib/helpers/isURLSameOrigin.js
node_modules/axios/lib/helpers/normalizeHeaderName.js
node_modules/axios/lib/helpers/parseHeaders.js
node_modules/axios/lib/helpers/README.md
node_modules/axios/lib/helpers/spread.js
node_modules/axios/lib/helpers/toFormData.js
node_modules/axios/lib/helpers/validator.js
node_modules/dotenv/CHANGELOG.md
node_modules/dotenv/config.d.ts
node_modules/dotenv/config.js
node_modules/dotenv/LICENSE
node_modules/dotenv/package.json
node_modules/dotenv/README-es.md
node_modules/dotenv/README.md
node_modules/dotenv/lib/cli-options.js
node_modules/dotenv/lib/env-options.js
node_modules/dotenv/lib/main.d.ts
node_modules/dotenv/lib/main.js
node_modules/eris/esm.mjs
node_modules/eris/index.d.ts
node_modules/eris/index.js
node_modules/eris/LICENSE
node_modules/eris/package.json
node_modules/eris/README.md
node_modules/eris/tsconfig.json
node_modules/eris/lib/Client.js
node_modules/eris/lib/Constants.js
node_modules/eris/lib/command/Command.js
node_modules/eris/lib/command/CommandClient.js
node_modules/eris/lib/errors/DiscordHTTPError.js
node_modules/eris/lib/errors/DiscordRESTError.js
node_modules/eris/lib/gateway/Shard.js
node_modules/eris/lib/gateway/ShardManager.js
node_modules/eris/lib/rest/Endpoints.js
node_modules/eris/lib/rest/RequestHandler.js
node_modules/eris/lib/structures/AutocompleteInteraction.js
node_modules/eris/lib/structures/Base.js
node_modules/eris/lib/structures/Call.js
node_modules/eris/lib/structures/CategoryChannel.js
node_modules/eris/lib/structures/Channel.js
node_modules/eris/lib/structures/CommandInteraction.js
node_modules/eris/lib/structures/ComponentInteraction.js
node_modules/eris/lib/structures/ExtendedUser.js
node_modules/eris/lib/structures/GroupChannel.js
node_modules/eris/lib/structures/Guild.js
node_modules/eris/lib/structures/GuildAuditLogEntry.js
node_modules/eris/lib/structures/GuildChannel.js
node_modules/eris/lib/structures/GuildIntegration.js
node_modules/eris/lib/structures/GuildPreview.js
node_modules/eris/lib/structures/GuildTemplate.js
node_modules/eris/lib/structures/Interaction.js
node_modules/eris/lib/structures/Invite.js
node_modules/eris/lib/structures/Member.js
node_modules/eris/lib/structures/Message.js
node_modules/eris/lib/structures/NewsChannel.js
node_modules/eris/lib/structures/NewsThreadChannel.js
node_modules/eris/lib/structures/Permission.js
node_modules/eris/lib/structures/PermissionOverwrite.js
node_modules/eris/lib/structures/PingInteraction.js
node_modules/eris/lib/structures/PrivateChannel.js
node_modules/eris/lib/structures/PrivateThreadChannel.js
node_modules/eris/lib/structures/PublicThreadChannel.js
node_modules/eris/lib/structures/Relationship.js
node_modules/eris/lib/structures/Role.js
node_modules/eris/lib/structures/StageChannel.js
node_modules/eris/lib/structures/StageInstance.js
node_modules/eris/lib/structures/StoreChannel.js
node_modules/eris/lib/structures/TextChannel.js
node_modules/eris/lib/structures/ThreadChannel.js
node_modules/eris/lib/structures/ThreadMember.js
node_modules/eris/lib/structures/UnavailableGuild.js
node_modules/eris/lib/structures/UnknownInteraction.js
node_modules/eris/lib/structures/User.js
node_modules/eris/lib/structures/VoiceChannel.js
node_modules/eris/lib/structures/VoiceState.js
node_modules/eris/lib/util/BrowserWebSocket.js
node_modules/eris/lib/util/Bucket.js
node_modules/eris/lib/util/Collection.js
node_modules/eris/lib/util/MultipartData.js
node_modules/eris/lib/util/Opus.js
node_modules/eris/lib/util/SequentialBucket.js
node_modules/eris/lib/voice/Piper.js
node_modules/eris/lib/voice/SharedStream.js
node_modules/eris/lib/voice/VoiceConnection.js
node_modules/eris/lib/voice/VoiceConnectionManager.js
node_modules/eris/lib/voice/VoiceDataStream.js
node_modules/eris/lib/voice/streams/BaseTransformer.js
node_modules/eris/lib/voice/streams/DCAOpusTransformer.js
node_modules/eris/lib/voice/streams/FFmpegDuplex.js
node_modules/eris/lib/voice/streams/FFmpegOggTransformer.js
node_modules/eris/lib/voice/streams/FFmpegPCMTransformer.js
node_modules/eris/lib/voice/streams/OggOpusTransformer.js
node_modules/eris/lib/voice/streams/PCMOpusTransformer.js
node_modules/eris/lib/voice/streams/VolumeTransformer.js
node_modules/eris/lib/voice/streams/WebmOpusTransformer.js
node_modules/follow-redirects/debug.js
node_modules/follow-redirects/http.js
node_modules/follow-redirects/https.js
node_modules/follow-redirects/index.js
node_modules/follow-redirects/LICENSE
node_modules/follow-redirects/package.json
node_modules/follow-redirects/README.md
node_modules/opusscript/index.d.ts
node_modules/opusscript/index.js
node_modules/opusscript/LICENSE
node_modules/opusscript/package.json
node_modules/opusscript/README.md
node_modules/opusscript/build/COPYING.libopus
node_modules/opusscript/build/opusscript_native_nasm.js
node_modules/opusscript/build/opusscript_native_wasm.js
node_modules/opusscript/build/opusscript_native_wasm.wasm
node_modules/strftime/bower.json
node_modules/strftime/Changelog.md
node_modules/strftime/component.json
node_modules/strftime/Makefile
node_modules/strftime/package.json
node_modules/strftime/Readme.md
node_modules/strftime/strftime-min.js
node_modules/strftime/strftime.js
node_modules/strftime/test.js
node_modules/tweetnacl/AUTHORS.md
node_modules/tweetnacl/CHANGELOG.md
node_modules/tweetnacl/LICENSE
node_modules/tweetnacl/nacl-fast.js
node_modules/tweetnacl/nacl-fast.min.js
node_modules/tweetnacl/nacl.d.ts
node_modules/tweetnacl/nacl.js
node_modules/tweetnacl/nacl.min.js
node_modules/tweetnacl/package.json
node_modules/tweetnacl/PULL_REQUEST_TEMPLATE.md
node_modules/tweetnacl/README.md
node_modules/ws/browser.js
node_modules/ws/index.js
node_modules/ws/LICENSE
node_modules/ws/package.json
node_modules/ws/README.md
node_modules/ws/wrapper.mjs
node_modules/ws/lib/buffer-util.js
node_modules/ws/lib/constants.js
node_modules/ws/lib/event-target.js
node_modules/ws/lib/extension.js
node_modules/ws/lib/limiter.js
node_modules/ws/lib/permessage-deflate.js
node_modules/ws/lib/receiver.js
node_modules/ws/lib/sender.js
node_modules/ws/lib/stream.js
node_modules/ws/lib/subprotocol.js
node_modules/ws/lib/validation.js
node_modules/ws/lib/websocket-server.js
node_modules/ws/lib/websocket.js
